{% extends "base1.html" %} 
{% load mathfilters %}
{% block main_content %}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Cart</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Pages</a></li>
    <li class="breadcrumb-item active text-white">Cart</li>
  </ol>
</div>
<!-- Single Page Header End -->

<!-- Cart Page Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Products</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for cart in carts %}
          <tr>
            <th scope="row">
              <div class="d-flex align-items-center">
                <img
                  src="{{ cart.item.image.url }}"
                  class="img-fluid me-5 rounded-circle"
                  style="width: 80px; height: 80px"
                  alt=""
                />
              </div>
            </th>
            <td>
              <p class="mb-0 mt-4">{{ cart.item }}</p>
            </td>
            <td>
              <p class="mb-0 mt-4">{{ cart.item.sale_price }}</p>
            </td>
            <td>
              <div class="input-group quantity mt-4" style="width: 100px">
                <input
                  type="text"
                  class="form-control form-control-sm text-center border-0"
                  value="{{ cart.quantity }}"
                />
              </div>
            </td>
            <td>
              {% with a=cart.item.sale_price b=cart.quantity %}
              <p class="mb-0 mt-4">Rs. {{ a|mul:b }}</p>
              {% endwith %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="mt-5">
      <form action="{% url 'my-order-list' %}" method="post">
        {% csrf_token %}
      <button
        class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4"
        type="submit"
      >
        Pay On Delivery
      </button>
    </form>
    </div>

  </div>
</div>
<!-- Cart Page End -->
{% endblock main_content %}